index.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><title>Alexandra Patiño Gutierrez - Portafolio Frontend</title><link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet"><link rel="stylesheet" href="css/normalize.css"><link rel="stylesheet" href="foundation/css/foundation.min.css"><link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"><link rel="stylesheet" href="css/app.css"></head><body><header class="Header"><div class="row align-middle align-center"><figure class="Header-logo columns small-12 medium-2"><img src="images/alexapgutierrez.png" class="logo"></figure><div class="Header-menu columns small-12 medium-7"><ul data-dropdown-menu class="menu dropdown align-right"><li class="item"><a href="#">Portafolio</a></li><li class="item"><a href="#">Procesos de trabajo</a></li><li class="item"><a href="#">Certificados</a></li><li class="item"><a href="#">Contacto</a></li></ul></div><div class="Header-titulo"><h1 class="super-title">Alexandra <span class="apellidos">Patiño Gutierrez</span> <span class="especialidades">WordPress</span></h1></div><div class="Header-arrowdown"><i class="fa fa-arrow-down"></i></div></div></header><section class="Portfolio"><h1 class="section-title">Mis trabajos</h1><div class="row"><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article><article class="Portfolio-work columns small-12 medium-6 large-4"><figure class="Portfolio-work-thumbnail"><a href="#"><img src="images/trabajos/fundacion-sergio-urrego.jpg"></a></figure><div class="Portfolio-work-data"><a href="#"><h2 class="title">Fundación Sergio Urrego</h2></a><p class="contribution">Diseño y desarrollo</p></div></article></div></section><section class="Processes"><h2 class="section-title">Procesos de trabajo</h2><div class="row align-center"><article class="Processes-process columns small-12 medium-6 large-3"><figure class="Processes-process-thumbnail"><img src="images/procesos/estructura.png"></figure><div class="Processes-process-info"><h3><span>1</span> Estructura</h3><p>Tomo los datos y los distrubuyo en una linda e intuitiva arquitectura.</p></div></article><article class="Processes-process columns small-12 medium-6 large-3"><figure class="Processes-process-thumbnail"><img src="images/procesos/disenio.png"></figure><div class="Processes-process-info"><h3><span>2</span> Diseño</h3><p>Con la estructura terminada, diseño las partes y con buena experiencia de usuario entrego propuesta.</p></div></article><article class="Processes-process columns small-12 medium-6 large-3"><figure class="Processes-process-thumbnail"><img src="images/procesos/desarrollo.png"></figure><div class="Processes-process-info"><h3><span>3</span> Desarrollo</h3><p>Con el diseño terminado creo los códigos backend y frontend necesarios.</p></div></article><article class="Processes-process columns small-12 medium-6 large-3"><figure class="Processes-process-thumbnail"><img src="images/procesos/lanzamiento.png"></figure><div class="Processes-process-info"><h3><span>4</span> Lanzamiento</h3><p>Se monta el desarollo en el servidor y se entrega en la web para que el mundo lo vea.</p></div></article></div></section><section class="Certificates"><h2 class="section-title">Certificados</h2><div class="row"><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article><article class="Certificates-certificate columns small-12 medium-6 large-3"><figure class="Certificates-certificate-thumbnail"><img src="images/certificados/git-github.png"></figure></article></div></section><section class="Contact"><h2 class="section-title">Contacto</h2><div class="row"><article class="Contact-info columns small-12 text-center"><p>¡Hola! si quieres escribirme porque quieres trabajar con migo, o hacerme un reclamo, una pregunta, lo que quieras... puedes hacerlo a <a href="mailto:alexandrapgutierrez@gmail.com">alexandrapgutierrez@gmail.com</a> y yo te responderé cuanto antes.</p><p>También puedes seguirme en redes sociales y escribirme donde te quede más fácil:</p><div class="Contact-info-redes"><a href="https://twitter.com/AlexaPGutierrez" target="_blank" class="fa fa-twitter"></a><a href="https://www.facebook.com/AlexandraPatinoGutierrez/" target="_blank" class="fa fa-facebook"></a><a href="https://github.com/AlexaPGutierrez" target="_blank" class="fa fa-github"></a><a href="https://plus.google.com/+AlexandraPati%C3%B1oGutierrez" target="_blank" class="fa fa-google-plus"></a></div></article></div></section><footer class="Footer text-center"><div class="medium"><p><i class="fa fa-whatsapp"></i> 301 529 5275 - Medellín, Colombia</p><p class="info">Los trabajos puestos en este portafolio no constituyen la totalidad de trabajos que he hecho en mis años de desarrolladora web (estan solo los que valen la pena). También son trabajos realizados en diferentes agencias y algunos como trabajos freelance. Si tiene quejas o siente que uno de los trabajos le pertenece y no quiere que este más en este sitio web no dude en escribir a <a href="mailto:alexandrapgutierrez@gmail.com">alexandrapgutierrez@gmail.com</a></p><div class="copy"><p>Diseño y desarrollo de Alexandra Patiño, hecho con <i class="fa fa-heart"></i></p></div></div></footer><script src="foundation/js/vendor/jquery.js"></script><script src="foundation/js/vendor/what-input.js"></script><script src="foundation/js/vendor/foundation.min.js"></script><script src="foundation/js/app.js"></script></body></html>

index.jade
doctype html
html
    head
        meta(charset="UTF-8")
        title Alexandra Patiño Gutierrez - Portafolio Frontend
        link(href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="foundation/css/foundation.min.css")
        link(rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/app.css")
    body
        //- header
        header(class="Header")
            div(class="row align-middle align-center")
                figure(class="Header-logo columns small-12 medium-2")
                    img(src="images/alexapgutierrez.png" class="logo")
                div(class="Header-menu columns small-12 medium-7")
                    ul(class="menu dropdown align-right" data-dropdown-menu)
                        li(class="item")
                            a(href="#") Portafolio
                        li(class="item")
                            a(href="#") Procesos de trabajo
                        li(class="item")
                            a(href="#") Certificados
                        li(class="item")
                            a(href="#") Contacto
                div(class="Header-titulo")
                    h1(class="super-title") Alexandra #[span(class="apellidos") Patiño Gutierrez] #[span(class="especialidades") WordPress]
                div(class="Header-arrowdown")
                    i(class="fa fa-arrow-down")
        //- end header

        //- portafolio
        section(class="Portfolio")
            h1(class="section-title") Mis trabajos
            div(class="row")
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
                article(class="Portfolio-work columns small-12 medium-6 large-4")
                    figure(class="Portfolio-work-thumbnail")
                        a(href="#")
                            img(src="images/trabajos/fundacion-sergio-urrego.jpg")
                    div(class="Portfolio-work-data")
                        a(href="#")
                            h2(class="title") Fundación Sergio Urrego
                        p(class="contribution") Diseño y desarrollo
        //- end portafolio

        //- proceso
        section(class="Processes")
            h2(class="section-title") Procesos de trabajo
            div(class="row align-center")
                article(class="Processes-process columns small-12 medium-6 large-3")
                    figure(class="Processes-process-thumbnail")
                        img(src="images/procesos/estructura.png")
                    div(class="Processes-process-info")
                        h3 #[span 1] Estructura
                        p Tomo los datos y los distrubuyo en una linda e intuitiva arquitectura.
                article(class="Processes-process columns small-12 medium-6 large-3")
                    figure(class="Processes-process-thumbnail")
                        img(src="images/procesos/disenio.png")
                    div(class="Processes-process-info")
                        h3 #[span 2] Diseño
                        p Con la estructura terminada, diseño las partes y con buena experiencia de usuario entrego propuesta.
                article(class="Processes-process columns small-12 medium-6 large-3")
                    figure(class="Processes-process-thumbnail")
                        img(src="images/procesos/desarrollo.png")
                    div(class="Processes-process-info")
                        h3 #[span 3] Desarrollo
                        p Con el diseño terminado creo los códigos backend y frontend necesarios.
                article(class="Processes-process columns small-12 medium-6 large-3")
                    figure(class="Processes-process-thumbnail")
                        img(src="images/procesos/lanzamiento.png")
                    div(class="Processes-process-info")
                        h3 #[span 4] Lanzamiento
                        p Se monta el desarollo en el servidor y se entrega en la web para que el mundo lo vea.
        //- end proceso

        //- certificados
        section(class="Certificates")
            h2(class="section-title") Certificados
            div(class="row")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")
                article(class="Certificates-certificate columns small-12 medium-6 large-3")
                    figure(class="Certificates-certificate-thumbnail")
                        img(src="images/certificados/git-github.png")

        //- end certificados

        //- contacto
        section(class="Contact")
            h2(class="section-title") Contacto
            div(class="row")
                article(class="Contact-info columns small-12 text-center")
                    p ¡Hola! si quieres escribirme porque quieres trabajar con migo, o hacerme un reclamo, una pregunta, lo que quieras... puedes hacerlo a #[a(href="mailto:alexandrapgutierrez@gmail.com") alexandrapgutierrez@gmail.com] y yo te responderé cuanto antes.
                    p También puedes seguirme en redes sociales y escribirme donde te quede más fácil:
                    div(class="Contact-info-redes")
                        a(href="https://twitter.com/AlexaPGutierrez" target="_blank" class="fa fa-twitter")
                        a(href="https://www.facebook.com/AlexandraPatinoGutierrez/" target="_blank" class="fa fa-facebook")
                        a(href="https://github.com/AlexaPGutierrez" target="_blank" class="fa fa-github")
                        a(href="https://plus.google.com/+AlexandraPati%C3%B1oGutierrez" target="_blank" class="fa fa-google-plus")
        //- end contacto

        //- footer
        footer(class="Footer text-center")
            div(class="medium")
                p #[i(class="fa fa-whatsapp")] 301 529 5275 - Medellín, Colombia
                p(class="info") Los trabajos puestos en este portafolio no constituyen la totalidad de trabajos que he hecho en mis años de desarrolladora web (estan solo los que valen la pena). También son trabajos realizados en diferentes agencias y algunos como trabajos freelance. Si tiene quejas o siente que uno de los trabajos le pertenece y no quiere que este más en este sitio web no dude en escribir a #[a(href="mailto:alexandrapgutierrez@gmail.com") alexandrapgutierrez@gmail.com]
                div(class="copy")
                    p Diseño y desarrollo de Alexandra Patiño, hecho con #[i(class="fa fa-heart")]
        //- end footer

        //- scripts
        script(src="foundation/js/vendor/jquery.js")
        script(src="foundation/js/vendor/what-input.js")
        script(src="foundation/js/vendor/foundation.min.js")
        script(src="foundation/js/app.js")
